<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Royer Villaseñor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<body>
    <div>
        <div class="bg-light">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">MI PORTAFOLIO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proyectos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="proyectos" style="background-color: #e3f2fd;">Ver todos los proyectos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/contenidodigital">Contenidos Digitales</a>
                                <a class="dropdown-item" href="/moda">Moda</a>
                                <a class="dropdown-item" href="/retratos">Retratos</a>
                                <a class="dropdown-item" href="/abandono">Proyecto: "Abandono"</a>
                                <a class="dropdown-item" href="/equalita">Equalita</a>
                                <a class="dropdown-item" href="/editorial">Editorial de revista</a>
                                <a class="dropdown-item" href="/alternos">Alternos</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
        <div class="bodie">
            {{{body}}}
        </div>
        <div class="footer font bg-dark text-center">
            <h7 class="text-white">
                Copyright ©2020 Royer Villaseñor
            </h7>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

</body>

</html>