<div class="abandonoDiv">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-dark" style="border-radius: 8px;">
        <div class="container">
            <h4 class="lead text-white text-center"> <i class="fas fa-quote-left"></i> Abandono</span> es un proyecto personal, el
        cual, consiste en retratar los espacios de una fábrica abandonada; creando ambientes donde se
        pueda explicar de la misma manera lo que sucede cuando uno sufre alguna pérdida y abandona su
        cuerpo. <br><br>
        Son espacios sucios y vacíos que generan melancolía y una añoranza de tiempos pasados. <i
                    class="fas fa-quote-right"></i>

            </h4>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono1.jpg">
                    <img src="assets/images/abandono1.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono2.jpg">
                    <img src="assets/images/abandono2.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono3.jpg">
                    <img src="assets/images/abandono3.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono4.jpg">
                    <img src="assets/images/abandono4.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono5.jpg">
                    <img src="assets/images/abandono5.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono6.jpg">
                    <img src="assets/images/abandono6.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono7.jpg">
                    <img src="assets/images/abandono7.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono8.jpg">
                    <img src="assets/images/abandono8.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono9.jpg">
                    <img src="assets/images/abandono9.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono10.jpg">
                    <img src="assets/images/abandono10.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono11.jpg">
                    <img src="assets/images/abandono11.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono12.jpg">
                    <img src="assets/images/abandono12.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono13.jpg">
                    <img src="assets/images/abandono13.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono14.jpg">
                    <img src="assets/images/abandono14.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono15.jpg">
                    <img src="assets/images/abandono15.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono16.jpg">
                    <img src="assets/images/abandono16.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono17.jpg">
                    <img src="assets/images/abandono17.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono18.jpg">
                    <img src="assets/images/abandono18.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono19.jpg">
                    <img src="assets/images/abandono19.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/abandono20.jpg">
                    <img src="assets/images/abandono20.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
    </div>
</div>