<div class="abandonoDiv">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/alternos1.jpg">
                    <img src="assets/images/alternos1.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/alternos2.jpg">
                    <img src="assets/images/alternos2.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/alternos3.jpg">
                    <img src="assets/images/alternos3.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/alternos4.jpg">
                    <img src="assets/images/alternos4.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/alternos5.jpg">
                    <img src="assets/images/alternos5.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/alternos6.jpg">
                    <img src="assets/images/alternos6.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
    </div>
</div>