<div class="contenidosDiv">
    <div class="container text-center">
        <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="container">
                <h4 class="lead text-white">Aquí se encuentran los links de varios artículos digitales que he
            escrito:
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="bg-secondary list-group">
                    <li class="list-group-item bg-secondary text-white"><a
                            href="http://suplechirimbolo.wixsite.com/suplementochirimbolo/suplemento-cultural-chirimbolo-3"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Chirimbolo</a></li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://issuu.com/revistaagr/docs/an_huac_global_review_-_volumen_5__n_mero_1"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Anahuac Global
                            Review</a></li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://cloud.3dissue.com/135743/135874/158882/HalloMEen/index.html?fbclid=IwAR1Unw6YqFih80z0MeGl1-qzH9NvbDaWqT82K_u3zWdEDZeBJl9WyaretLY"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a M.e. Magazine</a></li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://cloud.3dissue.com/135743/135874/158882/Agosto2016-" class="text-light"
                            target="_blank" rel="noopener noreferrer">Ir a Back To School M.E. Magazine</a></li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="http://memcdmx.com/2016/06/02/skin-care-glamglow/?fbclid=IwAR1oyT-X6bRFUDsCGmxKvrMhhUUtBFQN4dRJdGWLhsKXs5uooCtb2Q9mNSw"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Lanzamiento M.E.
                            Magazine</a></li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://www.tuambiente.mx/articulos/248/que_hacer_si_tu_vuelo_se_retrasa_en_el_extranjero"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Tu
                            Ambiente</a> (Artículo 1)</li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://www.tuambiente.mx/articulos/249/los_mexicanos_han_sido_la_sensacion_en_rusia"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Tu
                            Ambiente</a> (Artículo 2)</li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://revistapasaportes.wordpress.com/2018/07/25/rumbo-al-mundial/"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Pasaportes</a>
                        (Artículo 1)</li>
                    <li class="list-group-item bg-secondary text-white"><a
                            href="https://revistapasaportes.wordpress.com/2018/09/20/tierra-de-zares/"
                            class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Pasaportes</a>
                        (Artículo 2)</li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido1.jpg">
                    <img src="assets/images/contenido1.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido2.jpg">
                    <img src="assets/images/contenido2.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido3.jpg">
                    <img src="assets/images/contenido3.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido4.jpg">
                    <img src="assets/images/contenido4.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido5.jpg">
                    <img src="assets/images/contenido5.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido6.jpg">
                    <img src="assets/images/contenido6.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido7.jpeg">
                    <img src="assets/images/contenido7.jpeg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>