<div class="contenidosDiv">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido1.jpg">
                    <img src="assets/images/contenido1.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido2.jpg">
                    <img src="assets/images/contenido2.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido3.jpg">
                    <img src="assets/images/contenido3.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido4.jpg">
                    <img src="assets/images/contenido4.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido5.jpg">
                    <img src="assets/images/contenido5.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido6.jpg">
                    <img src="assets/images/contenido6.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/contenido7.jpeg">
                    <img src="assets/images/contenido7.jpeg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>