<div class="abandonoDiv">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-dark" style="border-radius: 8px;">
            <div class="container">
                <h4 class="lead text-white text-center"> <i class="fas fa-quote-left"></i> Equalita es una organizaci칩n que lucha por los derechos humanos y
                    reproductivos
                    de las mujeres y la comunidad LGBT+.
                    <br> <br>

                    Actualmente, desempe침o el papel de Director de eventos y campa침as dentro de la Organizaci칩n. <i class="fas fa-quote-right"></i>

                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita1.jpg">
                    <img src="assets/images/equalita1.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita2.jpg">
                    <img src="assets/images/equalita2.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita3.jpg">
                    <img src="assets/images/equalita3.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita4.jpg">
                    <img src="assets/images/equalita4.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>equalita
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita5.jpg">
                    <img src="assets/images/equalita5.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita6.jpg">
                    <img src="assets/images/equalita6.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita7.jpg">
                    <img src="assets/images/equalita7.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita8.jpg">
                    <img src="assets/images/equalita8.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>equalita
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita9.jpg">
                    <img src="assets/images/equalita9.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita10.jpg">
                    <img src="assets/images/equalita10.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita11.jpg">
                    <img src="assets/images/equalita11.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita12.jpg">
                    <img src="assets/images/equalita12.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/equalita13.jpg">
                    <img src="assets/images/equalita13.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>