<div class="container inicioDiv font">
    <div class="row">
        <div class="col-md-6 imgRoPortrait"></div>
        <div class="col-md-6">
            <h4>Soy Royer Villaseñor</h4>
            <br>
            <h5> <span><i class="fas fa-quote-left"></i></span> Puedo capturar la imagen que necesites <span><i class="fas fa-quote-right"></i></span></h5>
            <br>
            <p>Llevo 5 años dedicándome a la fotografía y creación de contenido digital especializado
                en fotografía artística y editorial. <br>
                ¿Necesitas desarrollar una idea?, yo te ayudo en todo el proceso, desde la producción, dirección y hasta la edición. 
                <br>
                Aquí encontrarás mis proyectos más importantes hasta el momento. 
                <br>
                !Bienvenido¡
            </p>
            
        </div>
    </div>
    <div class="contactSiteMap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm contactFooter">
                        <h4 class="contactFooterTitles">CONTACTAME</h4>
                            <br>
                            <h5 class="contactoFooterItem"><a href="https://api.whatsapp.com/send?phone=525545721972"
                                    target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"
                                        style="color: rgb(88, 88, 88);"> <span class="contactFooterItems font"
                                            style="color: rgb(88, 88, 88);">
                                            Whatsapp</span></i></a></h5>
                            <h5 class="contactoFooterItem "><i class="fas fa-phone-square-alt" style="color: rgb(88, 88, 88);">
                                    <span class="font"><a class="contactFooterItems" style="color: rgb(88, 88, 88);"
                                            href="tel:+525545721972">55
                                            45 72 19
                                            72</a></span></i></h5>
                    </div>
                    <div class="col-sm contactFooter">
                        <h4 class="contactFooterTitles siguemeTitle">SÍGUEME</h4>
                        <br>
                        <h5 class="contactoFooterItem"><a class="contactFooterItems"
                                href="https://web.facebook.com/arcaconstruccionesmx/" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-facebook fa-w-14 fa-lg "
                                    style="color: rgb(88, 88, 88); "></i><span class="contactFooterItems font" style="color: rgb(88, 88, 88);"
                                    class="font">
                                    Facebook</span></a></h5>
                        <h5 class="contactoFooterItem"><a class="contactFooterItems"
                                href="https://www.instagram.com/royervillasenor/" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-instagram fa-w-14 fa-lg"
                                    style="color: rgb(88, 88, 88);"></i><span class="contactFooterItems font" style="color: rgb(88, 88, 88);"
                                    class="font">
                                    Instagram</span></a></h5>
                    </div>
                    <div class="col-sm contactFooter">
                        <button type="button" class="btn btn-dark proyectosBtn" onclick="location.href='/proyectos';">PROYECTOS</button>
                        
                    </div>
                </div>
            </div>

        </div>
</div>