<div class="abandonoDiv">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/moda1.jpg">
                    <img src="assets/images/moda1.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/moda2.jpg">
                    <img src="assets/images/moda2.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/moda3.jpg">
                    <img src="assets/images/moda3.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="assets/images/moda4.jpg">
                    <img src="assets/images/moda4.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a target="_blank" href="assets/images/moda5.jpg">
                    <img src="assets/images/moda5.jpg" alt="..." class="img-thumbnail abandono1">
                </a>
            </div>
        </div>
    </div>
</div>