<div class="container proyectosDiv2">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/contenidoDigital.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Contenidos digitales & publicación</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/contenidodigital" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/moda.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Moda</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/moda" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/retratos.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Retratos</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                   <a href="/retratos" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/alternos.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Proyectos Alternos</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/alternos" class="btn btn-dark">Ver proyecto</a>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/equalita.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Equalita</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/equalita" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/editorial.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Editorial de revista</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/editorial" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/abandono.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Proyecto "Abandono"</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/abandono" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>