<div class="container proyectosDiv2">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/contenidoDigital.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Contenidos digitales & publicación</h5>
                    <p class="card-text text-light">Aquí se encuentran los links de varios artículos digitales que he
                        escrito:</p>
                    <ul class="bg-secondary list-group">
                        <li class="list-group-item bg-secondary text-white"><a
                                href="http://suplechirimbolo.wixsite.com/suplementochirimbolo/suplemento-cultural-chirimbolo-3"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Chirimbolo</a></li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://issuu.com/revistaagr/docs/an_huac_global_review_-_volumen_5__n_mero_1"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Anahuac Global
                                Review</a></li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://cloud.3dissue.com/135743/135874/158882/HalloMEen/index.html?fbclid=IwAR1Unw6YqFih80z0MeGl1-qzH9NvbDaWqT82K_u3zWdEDZeBJl9WyaretLY"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a M.e. Magazine</a></li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://cloud.3dissue.com/135743/135874/158882/Agosto2016-" class="text-light"
                                target="_blank" rel="noopener noreferrer">Ir a Back To School M.E. Magazine</a></li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="http://memcdmx.com/2016/06/02/skin-care-glamglow/?fbclid=IwAR1oyT-X6bRFUDsCGmxKvrMhhUUtBFQN4dRJdGWLhsKXs5uooCtb2Q9mNSw"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Lanzamiento M.E.
                                Magazine</a></li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://www.tuambiente.mx/articulos/248/que_hacer_si_tu_vuelo_se_retrasa_en_el_extranjero"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Tu
                                Ambiente</a> (Artículo 1)</li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://www.tuambiente.mx/articulos/249/los_mexicanos_han_sido_la_sensacion_en_rusia"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Tu
                                Ambiente</a> (Artículo 2)</li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://revistapasaportes.wordpress.com/2018/07/25/rumbo-al-mundial/"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Pasaportes</a>
                            (Artículo 1)</li>
                        <li class="list-group-item bg-secondary text-white"><a
                                href="https://revistapasaportes.wordpress.com/2018/09/20/tierra-de-zares/"
                                class="text-light" target="_blank" rel="noopener noreferrer">Ir a Revista Pasaportes</a>
                            (Artículo 2)</li>
                    </ul>
                    <br>
                    <a href="/contenidodigital" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/moda.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Moda</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/moda" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/retratos.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Retratos</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/retratos" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/alternos.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Proyectos Alternos</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/alternos" class="btn btn-dark">Ver proyecto</a>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/equalita.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Equalita</h5>
                    <p class="card-text text-light">Equalita es una organización que lucha por los derechos humanos y reproductivos
                        de las mujeres y la comunidad LGBT+. 
                        <br> <br>

                        Actualmente, desempeño el papel de Director de eventos y campañas dentro de la Organización.
                    </p>
                    <a href="/equalita" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/editorial.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Editorial de revista</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> --}}
                    <a href="/editorial" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/abandono.jpg" alt="Card image cap">
                <div class="card-body text-light">
                    <h5 class="card-title text-white">Proyecto "Abandono"</h5>
                    <p class="card-text"> <span style="font-weight: bolder;">Abandono</span> es un proyecto personal, el
                        cual, consiste en retratar los espacios de una fábrica abandonada; creando ambientes donde se
                        pueda explicar de la misma manera lo que sucede cuando uno sufre alguna pérdida y abandona su
                        cuerpo. <br><br>
                        Son espacios sucios y vacíos que generan melancolía y una añoranza de tiempos pasados.
                    </p>
                    <a href="/abandono" class="btn btn-dark">Ver proyecto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>