
body{
    background-image: url("/assets/images/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        transition: 0s linear;
        transition-property: background-position;
}
.inicioDiv{
    margin-top: 5%;
    background-color: white;
    padding: 10%;
    width: 60%;
    height: 50%;
    border-radius: 8pt;
}
.imgRoPortrait{
    height: 30rem;
    background-image: url("/assets/images/royerPortrait.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}
.contactSiteMap{
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: rgb(223, 246, 255);
    border-radius: 8pt;
    padding-top: 5%;
    padding-left: 5% ;
    padding-right: 5% ;
    padding-bottom: 5%;
}
.footer{
    height: 5rem;
    padding-top: 2%;
    margin-top: 5%;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
}
.proyectosBtn{
    margin-top: 50%;
}
.proyectosDiv2{
    margin-top: 7%;
}
.card{
    margin-left: 13%;
}
.abandonoDiv, .contenidosDiv{
    margin-top: 5%;
}
.abandono1{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}
.abandono1:hover {
    box-shadow: 0 0 5px 1px white;
}
.img-thumbnail{
    margin-top: 3%;
}

@media (min-width: 401px) and (max-width: 768px) {
    .imgRoPortrait{
        height: 15rem;
        margin-bottom: 10%;
    }
    .inicioDiv{
        width: 83%;
    }
    .siguemeTitle{
        margin-top: 13%;
    }
    .proyectosBtn{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .card{
        margin-left: 6%;
        margin-bottom: 5%;
    }
}

@media (max-width: 400px) {
    .imgRoPortrait{
        height: 15rem;
        margin-bottom: 10%;
    }
    .inicioDiv{
        width: 83%;
    }
    .siguemeTitle{
        margin-top: 13%;
    }
    .proyectosBtn{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .card{
        margin-left: 6%;
        margin-bottom: 5%;
    }

}
